table{
	border: 1px solid#000000;
	font-family: "华文中宋";
	font-size: 12px;
	border-collapse: collapse;
}
caption{
	text-align: center
}
th{
	border: 1px solid#000000;
	color: white;
	background-color: coral;
	text-align: center;
}
td{
	border: 1px solid#000000;
	color:black;
	background-color:moccasin;
	text-align: center;
}
.tr_bg td{
	background-color:lightblue;
}